{% block content %}

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/enroll_page.css">

 <div class="topnav">
   <a class="active" href="{{url_for('home')}}">Main</a>
   <a href="{{url_for('enroll_page')}}">My class roster for {{ class_name }}</a>
             <a href="{{url_for('assignment')}}">My assignments for {{ class_name }}</a>
               <a href="{{url_for('take_attendance_page')}}">Take attendance for {{ class_name }}</a>
               <a href="{{url_for('announcements_page')}}">Create announcements for {{ class_name }}</a>
  <a href="{{url_for('logout')}}">Logout of {{username}}</a>
</div>

<style>
body {
  background-image: url('/static/images/Notebook.jpg');
}
</style>

<h1>Post announcements for {{ class_name }}</h1>

<h2>Announcements posted here will be posted to the student portal.</h2>

<form action="/announcements_page_submit" method="POST">

    <div class="form-group">
        <textarea name="announcement_box" cols="50" rows="10"></textarea>

    </div>

    <button type="submit" class="btn btn-warning">Post announcement for today</button>

</form>

<h45>Search announcements by date. Please type in the format: year-month-day, such as: 2022-03-30 (March 30, 2022).</h45>
<br />
<h46>Upon search, you can also update announcement records.</h46>

<form action="/view_announcements_by_date" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="Search" name='search_announcements_by_date' style="width: 200px;">
    </div>
        <button type="submit" class="btn btn-success">Search announcements by date</button>
</form>

{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
 </div>
 </body>

</html>

{% endblock %}
