{% block content %}

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/query_page_2.css') }}">

 <div class="topnav">
   <a class="active" href="{{url_for('home')}}">Main</a>
         <a href="{{url_for('query')}}">My class roster for {{ class_name }}</a>
        <a href="{{url_for('assignment')}}">My assignments for {{ class_name }}</a>
     <a href="{{url_for('take_attendance_page')}}">Take attendance for {{ class_name }}</a>
          <a href="{{url_for('announcements_page')}}">Create announcements for {{ class_name }}</a>
               <a href="{{url_for('upload_file_page')}}">Upload files for {{ class_name }}</a>
  <a href="{{url_for('logout')}}">Logout of {{username}}</a>
</div>

<h45>Assignment ID:</h45>

<h46>{% for record in records_4 %} {{record}} {% endfor %}</h46>

<br /><br />

<h43>Assignment name:</h43>

<h44>{% for row in records_2 %}{{row[0]}} {% endfor %}</h44>

<br /><br />

<h43>Category:</h43>

<h44>{% for row in category %}{{row[0]}} {% endfor %}</h44>

<br /><br />

<h43>Due date:</h43>

<h44>{% for row in due_date %}{{row[0]}} {% endfor %}</h44>


<br /><br />

{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<h8>Edit this assignment's grades</h8>

<br /><br />

<h45>Click on student name in table below to see assignment results.</h45>

<div class="col-md-8">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Class</th>
                <th>Teacher</th>
                <th>Student First Name</th>
                <th>Student Last Name</th>
                <th>Input assignment grade</th></tr>
        </thead>
        <tbody>
            {% for row in records_3 %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td><a href="/query_individual_student/{{row[0]}}">{{row[3]}}</a></td>
                <td><a href="/query_individual_student/{{row[0]}}">{{row[4]}}</a></td>
                <td width="130">
                    <div class="form-group">
                <form action="/edit_assignment_grade_2" method="POST">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="update grade here" name='grade_assignment' style="width: 160px;" maxlength="3">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="input student id here" name='student_id' style="width: 180px;">
                         <button type="submit" class="btn btn-warning">update grade</button>
</form>
                        </div>
                </td>
            </tr>
                                                  {% endfor %}
            </tbody>
    </table>
</div>

  </div>


{% endblock %}
