{% block title %}{{title}}{% endblock %}

{% block content %}

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>

<title>VigLMS | Edit Student Info</title>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_student_info.css') }}">

 <div class="topnav">
   <a class="active" href="{{url_for('home')}}">Main</a>
         <a href="{{url_for('query')}}">My class roster for {{ class_name }}</a>
        <a href="{{url_for('assignment')}}">My assignments for {{ class_name }}</a>
     <a href="{{url_for('take_attendance_page')}}">Take attendance for {{ class_name }}</a>
          <a href="{{url_for('announcements_page')}}">Create announcements for {{ class_name }}</a>
               <a href="{{url_for('upload_file_page')}}">Upload files for {{ class_name }}</a>
  <a href="{{url_for('logout')}}">Logout of {{username}}</a>
</div>

</div>
</div>

 <style>
body {
  background-image: url('/static/images/desk.jpg');
}
</style>

<h8>Enrolled on {% for date in enrollment_date %} {{date}}{% endfor %}</h8>

<h4>Current student information as of {{ date_object }}:</h4>

<h6>First name: {% for name in student_first_name %} {{name}} {% endfor %}</h6>
<h6>Last name: {% for name in student_last_name %} {{name}} {% endfor %}</h6>
<h6>Graduation year: {% for year in graduation_year%} {{year}} {% endfor %}</h6>

  <h7>Edit/Update student info below:</h7>
 <hr class="dashed">
        <div>
 <form action="/edit_individual_student_first_name" method="POST">
                    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="update first name" name='update_first_name' style="width: 200px;">
                         <button type="submit" class="btn btn-outline-success">update first name</button>
</form>
        </div>
 <hr class="dashed">
    <div>
 <form action="/edit_individual_student_last_name" method="POST">
                    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="update last name" name='update_last_name' style="width: 200px;">
                         <button type="submit" class="btn btn-outline-primary">update last name</button>
</form>
  </div>
 <hr class="dashed">
        <div>
 <form action="/edit_individual_student_graduation_year" method="POST">
                    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="update graduation year" name='update_graduation_year' style="width: 200px;">
                         <button type="submit" class="btn btn-outline-secondary">update graduation year</button>
</form>
  </div>

{% endblock %}
