{% block content %}

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/enroll_page.css">

 <div class="topnav">
   <a class="active" href="{{url_for('home')}}">Main</a>
         <a href="{{url_for('query')}}">My class roster for {{ class_name }}</a>
             <a href="{{url_for('assignment')}}">My assignments for {{ class_name }}</a>
               <a href="{{url_for('take_attendance_page')}}">Take attendance for {{ class_name }}</a>
               <a href="{{url_for('announcements_page')}}">Create announcements for {{ class_name }}</a>
  <a href="{{url_for('logout')}}">Logout of {{username}}</a>
</div>

<h1>Enroll or check enrollment for {{ class_name }}</h1>

<h2>Enter student credentials below to enroll new student into class.</h2>

<form action="/enroll_page_submit" method="POST">

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="first name" name='first name' style="width: 200px;">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="last name" name='last name' style="width: 200px;">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="graduation year" name='graduation year' style="width: 200px;">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp" placeholder="grade (0-100)"
            name='grade' style="width: 200px;">
    </div>

    <button type="submit" class="btn btn-warning">Enroll student</button>

</form>

{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
 </div>
 </body>

</html>

{% endblock %}
