<!DOCTYPE html>
<html>
<style>
 /*
    Colors : #FFB700 , #4A4A4A
*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: vazir;
  background: #132a13;
}

p {
  margin-bottom: 1.25rem;
  color: #fff;
  padding: 10px;
}

i{
  color: black;
  font-size: 20px;
}

a::after {
  content: "";
  width: 56px;
  height: 2px;
  position: absolute;
  background-color: #ecf39e;
  bottom: 0;
}

.section-center {
  width: 90vw;
  margin: 50px auto 0;
  max-width: 620px;
}
.question {
  background: #31572c;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
  border-radius: 2px;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.question-title p {
  color: #ffffff;
  font-weight: bolder;
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #fff;
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 5px solid #4f772d;
}

/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

/* Start Main Css */

nav
{
  width: 80%;
  margin-left: 10%;
  height: 80px;
}
nav .logo
{
  float: left;
  width: 30%;
  background: #0000FF;
  height: 100%;
  text-align: center;
  padding-top: 9px;
  box-sizing: border-box;
}
nav .mainnav
{
  width: 70%;
  float: left;
  background: #4A4A4A;
  height: 100%;
}
nav .mainnav ul
{
  margin: 0;
  padding: 0;
  height: 100%;
}
nav .mainnav ul li
{
  list-style-type: none;
  width: 20%;
  float: left;
  text-align: center;
  height: 100%;
  line-height: 80px;
}
nav .mainnav ul li a
{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: arial;
}

body {background-color: black;}

h1{
color: white;
font-family: arial;
}

h3{
color: red;
}

h4{
color: yellow;
font-family: courier;
font-size: 30px;
}

#address_link_text{
color: white;
text-decoration: none;
font-family: lucinda;
font-size: 20px;
}

#address_link_position{
text-align: center;
}

#div_position_misc{
text-align: center;
}

p{
color: white;
font-family: arial;
font-size: 20px;
}

p2{
color: white;
font-family: arial;
font-size: 20px;
}

p3{
color: white;
font-family: arial;
font-size: 20px;
}

#services_list{
color: white;
font-family: times;
font-size: 25px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

</style>
</head>

</style>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Viglione Investigations - Home</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <h1>Viglione Investigations</h1>
      </div>
      <div class="mainnav">
        <ul class="mainul">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="{% url 'blog-testimonials' %}">Testimonials</a>
          </li>
          <li>
            <a href="{% url 'blog-references' %}">References</a>
          </li>
          <li>
            <a href="{% url 'blog-pay_invoice' %}">Pay Invoice</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>

<div id = "div_position_misc">
<h3>Private investigator located in Branford, Connecticut. We serve all of Connecticut!</h3>
</div>

<br>
<div id = "address_link_position">
<a id="address_link_text" href="https://www.google.com/maps/place/40+E+Industrial+Rd,+Branford,+CT+06405/@41.299105,-72.755853,17z/data=!3m1!4b1!4m5!3m4!1s0x89e7d4f5460fc6d1:0xc94b72d3a0d204b2!8m2!3d41.299105!4d-72.755853">
 Address: 40 North East Industrial Road, Floor #2, Branford, Connecticut, 06405
</a>
 </div>

<div id = "div_position_misc">
<h4>About:</h4>
    </div>

<p>
 Viglione Investigations is your preferred private investigator serving all CT. Sal Viglione is a retired police officer with the New Haven police department who oversees and assist clients to win their cases. As licensed investigators, we respect your need for a private investigator and handle your case with the utmost care and discretion.  With over 25 years of experience,
 Salvatore Viglione has the insight for what happens in proceedings and what effects sloppy police work can have on a falsely accused perpetrator.
</p>

<p2>
 Viglione Investigations specializes in criminal defense cases specializing in habeas corpus, indigent, court appointed,
 conflict and ex parte cases. Salvatore Viglione is a vendor for the Connecticut Public Defenders office.
 We also handle all types of business and personal fraud and litigation services,
 but we are well suited to handle any type of investigation from simple surveillance investigations
 to more complex fraud and embezzlement cases.</p2>

<br><br>

<p3>
 We are very meticulous with all our services and if the client qualifies, the state may pay for their services and pay the fees of the attorney and the investigator (although private cases require a retainer). Expert witness statements, photographs, and videos can be taken to help solidify and win your case!
</p3>

<br><br>

<img src="static/images/Fueled.jpg"
width="1600"
     height="500"/>

<div id = "div_position_misc">
<h4>Our Services Include:</h4>
        </div>

<ul id = "services_list">
  <li>Complete compressive background reports</li>
  <li>Infidelity cases</li>
  <li>Divorce cases and disputes</li>
    <li>Child custody and visitation cases</li>
    <li>Surveillance and tailing cases</li>
    <li>Locates</li>
    <li>Missing persons</li>
    <li>Property & asset checks</li>
    <li>Worker Compensation cases</li>
    <li>Slip & fall cases</li>
    <li>Conflict & Ex parte cases</li>
    <li>Vendor for the CT Chief Public Defenders Dept. Vendor # 145377</li>
    <li>Hablamos español</li>
</ul>

<br>

<div id = "div_position_misc">
<h4>Timeline of merits:</h4>
        </div>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- cdn font vazir -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vazir-font/30.1.0/font-face.css">
<!-- style  -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <section class="questions">
        <!-- questions -->
        <div class="section-center">
          <!-- single question -->
          <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>1.) 1983-1987</p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
            (4 years) University Of New Haven. Studied criminal justice and awarded Certificate Of Achievement in Security Management on May 8,1987.
              </p>
              <a href="#"></a>
            </div>
          </article>
          <!-- end of single question -->
          <!-- single question -->
          <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  2.) Jan 19,1984
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Awarded martial arts 1st degree black belt and instructor certificate in Tae-Kwon-Do.
              </p>
              <a href="#">
              </a>
            </div>
          </article>
          <!-- end of single question -->
          <!-- single question -->
          <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>3.) 1989</p>
              <!-- button -->
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Authored book "In Search of Biblical Gods". Published by Vantage Press, Inc. Library of Congress # 88-090150
              </p>
              <a href="#"></a>
            </div>
          </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  4.) Jan 6,1986
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                   Accepted into New Haven Police Academy and graduated on June 19, 1986
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  5.) March 21, 1986
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Awarded Marksman Certificate from New Haven Police Academy
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  6.) March 31,1987
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received letter of recognition from the Crime Prevention Unit at New Haven Police Department
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  7.) Oct.7, 1987
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received Chief's Award of Merit at New Haven Police Department
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  8.) June 6, 1988
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received Certificate of Commendation for Effective Police Work from New Haven Police Department
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  9.) April 25, 1989
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received Chief's Award of Merit at New Haven Police Department
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  10.) May 11, 1989
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received Chief's Award of Merit at New Haven Police Department
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  11.)  October 30, 1989
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                   Received letter of recognition from Awards Committee at New Haven Police Department
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  12.) April 12, 1990
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received Certificate of Commendation from Patrol Division at New Haven Police Department
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  13.) August 26, 1991
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
            Received letter of recognition and appreciation from business owner of flea market
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  14.) May 6, 1992
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received letter of recognition of helping maintain peace and security from New Haven Police Department
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  15.) July 1, 1992
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
            Received letter of recognition from New Haven Police Department
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  16.) April 12, 1993
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received Division Training Certificate for review & evaluation accomplishments from New Haven Police Department
              </p>
              <a href="#">
              </a>
            </div>
                 </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  17.) July 6, 1994
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received letter of recognition from New Haven Police Department regarding fireworks display on July 4, 1994.
              </p>
              <a href="#">
              </a>
            </div>
                </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  18.) July 20, 1994
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
        Received letter of recognition from New Haven Police Department for CT Motorcycle Run
              </p>
              <a href="#">
              </a>
            </div>
                </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  19.) September 28, 1994
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
        Letter of merit from Board of Police Commissioners at New Haven Police Department regarding the apprehension of two armed suspects (robbery).
                  Award emphasizes sound judgement and proper utilization of police tactics.
              </p>
              <a href="#">
              </a>
            </div>
                </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  20.) November 4, 1994
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
        Chief's Award of Merit for outstanding accomplishment of improved operations contributing to a more effective police service.
              </p>
              <a href="#">
              </a>
            </div>
                </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  21.) October 8th, 1994
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
            Chief's Award of Merit
              </p>
              <a href="#">
              </a>
            </div>
                </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  22.) September 17, 1996
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received Unit Citation Certificate for Field Training Officer Program
              </p>
              <a href="#">
              </a>
            </div>
                </article>
          <!-- end of single question -->
            <article class="question">
            <!-- question title -->
            <div class="question-title">
              <p>
                  23.) November 6, 1996
              </p>
              <button type="button" class="question-btn">
                <span class="plus-icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span class="minus-icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
              </button>
            </div>
            <!-- question text -->
            <div class="question-text">
              <p>
                  Received Chief's Award of Merit
              </p>
              </a>
            </div>
      </section>
    </main>
    <!-- javascript -->
    <script src="static/js/accordion.js"></script>
  </body>
<br>

<footer>
  <i>Services available 24/7!</i><br>
  <img src="/static/images/clock.png" style="width:42px;height:42px;">
  <p>Send email:<br>
  <a href="viglioneinvestigations@yahoo.com">viglioneinvestigations@yahoo.com</a></p>
    <p>Call now (203) 871-9742:<br></p>
    <a href="tel:203-871-9742"><img src="/static/images/phone.png" style="width:42px;height:42px;"></a>
    <p>Fax # (203) 481-1668:<br></p>
    <a href="Fax # (203) 481-1668"><img src="/static/images/fax.png" style="width:42px;height:42px;"></a><br>
    <p>Facebook page:<br></p>
    <a href="https://www.facebook.com/Private-criminal-defense-investigations-1134345970053033/"><img src="/static/images/facebook.png" style="width:42px;height:42px;"></a>
</footer>

</html>
