<!DOCTYPE html>
<html>
 <head>
       <title>VigLMS | Teacher Login</title>
  <meta charset="utf-8">
     <style>
#Title {
  text-align: center;
}
</style>
     <div id="Title">
  <h22>Welcome to the Teacher login page for Vig LMS!</h22>
         </div>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
     <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <p>Please enter your credentials below:</p>
     <style>
    body{
    background-color: black;
}
     </style>

      <div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">Welcome back, teacher!</h2>
  <form class="login-container" action="{{ url_for('login') }}" method="POST">
    <p><input type="email" name="email" placeholder="Email"></p>
            <p><input type="text" name="username" placeholder="Username"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <p><input type="submit" value="Log in"></p>
  </form>
</div>

{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <p>No account? <a href="{{ url_for('register') }}">Register</a></p>
          <p>Forgot password? <a href="{{ url_for('reset_password') }}">Reset password here</a></p>

  </div>
 </div>
 </body>
<p>Register as a student <a href="{{ url_for('student_register') }}">Register</a></p>
<p>Login as a student <a href="{{ url_for('student_login') }}">Login</a></p>
<div id="Title">
           <h100>As of {{ date_object }} at {{ current_time }}, there are {% for row in user_count %} {{row}} {% endfor %} teachers that are using Vig LMS!</h100>
         </div>

          <a href="{{url_for('faq_page')}}"><img src="/static/images/faq.png" alt="HTML tutorial" style="width:42px;height:42px;">Link to FAQ (frequently asked questions)</a>

<hr class="double">

 <h46>Delete teacher account below:</h46>

      <div class="login">
                    <div id="Delete_Teacher_Account">
  <h2 class="login-header">Delete teacher account</h2>
                                  </div>
          <div id="Delete_Teacher_Account_Container">
  <form class="login-container" action="{{ url_for('delete_account') }}" method="post">
    <p><input type="email" name="delete_email" placeholder="Email"></p>
            <p><input type="text" name="delete_username" placeholder="Username"></p>
    <p><input type="password" name="delete_password" placeholder="Password"></p>
    <p><input type="submit" value="Delete my account"></p>
  </form>
</div>
          </div>

          <br /><br />

<a href = "mailto:ryansviglione@gmail.com?subject = Feedback&body = Message"><img src="/static/images/email.png">
Email the creator: ryansviglione@gmail.com</a>

     <br /><br />

     <a href = "https://codepen.io/miroot/pen/AYJGJO = Feedback&body = Message">
CodePen for forms created by Miro Karilahti</a>

</html>
