{% block title %}{{title}}{% endblock %}

{% block content %}

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/query_page_2.css">

 <div class="topnav">
   <a class="active" href="{{url_for('home')}}">Main</a>
           <div class="dropdown">
  <button class="dropbtn">Sort by:</button>
  <div class="dropdown-content">
    <a href="/alphabetically">Last name</a>
    <a href="/alphabetically">First name</a>
    <a href="/grade_ASC">Grade (low - high)</a>
      <a href="/grade_DESC">Grade (high - low)</a>
         <a href="{{url_for('enroll_page')}}">My class roster for {{ class_name }}</a>
              <a href="{{url_for('assignment')}}">My assignments for {{ class_name }}</a>
           <a href="{{url_for('take_attendance_page')}}">Take attendance for {{ class_name }}</a>
        <a href="{{url_for('logout')}}">Logout of {{username}}</a>

  </div>
</div>

</div>

<h8>View attendance for {{ class_name }}</h8>

<div class="col-md-8">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <td>Attendance Record ID</td>
                <td>Student First Name</td>
                <td>Student Last Name</td>
                <td>Date</td>
                <td>Attendance Status</td>
                <td>Delete Attendance Record</td>
            </tr>
        </thead>
        <tbody>
            {% for row in search_attendance_query_student %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td><a href="/delete_attendance_record/{{row[0]}}" class="btn btn-danger btn-delete btn-sm">Delete attendance record</a></td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>

<h60>Days present: {% for row in student_present_count %} {{row}} {% endfor %}</h60>
<br /><br />
<h60>Days absent: {% for row in student_absent_count %} {{row}} {% endfor %}</h60>
<br /><br />
<h60>Days tardy: {% for row in student_tardy_count %} {{row}} {% endfor %}</h60>


{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


{% endblock %}
