h20{

color: black;
font-family: arial;
font-size: 25px;}

p{

color: red;
font-family: lucinda;
font-size: 25px;}

label{

color:green;
font-family: times new roman;
font-size: 20px; }

hr.double {
 border-top: 3px double;
 border-bottom: none;
}

title2{
color: pink;
font-family: lucinda;
font-size: 25px;
}

h20{
color: pink;
font-family: lucinda;
font-size: 25px;
}

h100{
color: purple;
font-family: times;
font-size: 22px;
}

h101{
color: white;
font-family: times;
font-size: 22px;
}

h21{

color: black;
font-family: arial;
font-size: 25px;}

h55{

color: white;
font-family: arial;
font-size: 20px;}

h23{

color: black;
font-family: times;
font-size: 20px;
text-decoration: underline;

}

h25{

color: yellow;
font-family: arial;
font-size: 25px;}

.alert {
   width:20%;
}
