{% block content %}

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/query_page_2.css') }}">

 <div class="topnav">
   <a class="active" href="{{url_for('home')}}">Main</a>
         <a href="{{url_for('query')}}">My class roster for {{ class_name }}</a>
        <a href="{{url_for('assignment')}}">My assignments for {{ class_name }}</a>
     <a href="{{url_for('take_attendance_page')}}">Take attendance for {{ class_name }}</a>
          <a href="{{url_for('announcements_page')}}">Create announcements for {{ class_name }}</a>
               <a href="{{url_for('upload_file_page')}}">Upload files for {{ class_name }}</a>
  <a href="{{url_for('logout')}}">Logout of {{username}}</a>
</div>

       </div>
</div>

</div>

<form action="/upload" method="POST" enctype="multipart/form-data">
     <p class="card-text">Choose a file to upload it to {{ class_name }}. The student portal will be able to access
     these files as well. These can be: copies of homework assignments, notes, pictures, videos, etc. Students may also
     upload their own files, so that the teacher can access their work. This particular functionality can be accessed via
     the 'more information' link for said students on the class roster page.

     This page serves as a main hub for your documents. Once a document is uploaded here, it can be downloaded via this page,
     as well as the student portal for a particular student in this class who has a VigLMS student account.

         <br /><br />

     Here are the upload and download steps for this page:
<br /><br />
     1. Click the choose file button below.
         <br /><br />
     2. Select file from your computer's file directory.
         <br /><br />
     3. Attach said file.
         <br /><br />
     4. Click upload button.
         <br /><br />
     5. Go to file in table below (this table lists documents you uploaded to the teacher and student portals).
         <br /><br />
     6. Click 'download file' button.
         <br /><br />
     7. Click on the presigned url for the document that appears at the top of the table to download.</p>
        <input type="file" name="file" value="file">
        <hr>
   <input type="submit" name="upload" value="Upload" class="btn btn-success">
</form>
{{msg}}

<h8>Download and upload documents for {{ class_name }}</h8>

{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<br /><br />

<a href="{{response}}">{{msg_2}}</a>

<div class="col-md-8">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Document ID</th>
                <th>Document name</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for row in assignment_files %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td width="110">
                <a href="/download/{{row[0]}}" class="btn btn-success btn-delete btn-sm">Download File</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}
