<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/attendance_page.css') }}">

<head>
<title>VigLMS | Take Attendance For {{ class_name }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">

<link rel="manifest" href="/site.webmanifest">
</head>

<body>
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
  <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
  <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
    <img
         class="rounded-pill img-fluid"
         width="65"
         src="{{ url_for('static', filename='images/home.jpg') }}"
         alt="">
    <div class="ms-2">
      <h5 class="fs-6 mb-0">
        <a class="text-decoration-none" href="#">Teacher: {{username}}</a>
      </h5>
      <p class="mt-1 mb-0">Class roster: {{class_name}}</p>
    </div>
  </div>

  <ul class="categories list-unstyled">
    <li class="has-dropdown">
      <i class="uil-calendar-alt"></i><a href="{{url_for('grades.grade_ASC')}}">View grades (low-high)</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-calendar-alt"></i><a href="{{url_for('grades.grade_DESC')}}">View grades (high-low)</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-calendar-alt"></i><a href="{{url_for('assignments.assignment')}}">Assignments</a>
    </li>
    <li class="has-dropdown">
     <i class="uil-calendar-alt"></i><a href="{{url_for('attendance.take_attendance_page')}}">Attendance</a>
    </li>
    <li class="">
      <i class="uil-calendar-alt"></i><a href="{{url_for('messaging_and_announcements.announcements_page')}}">Announcements</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-chart-pie-alt"></i><a href="{{url_for('files.upload_file_page')}}">Files</a>
    </li>
</aside>

<section id="wrapper">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid mx-2">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="uil-bars text-white"></i>
        </button>
        <a class="navbar-brand" href="/">Vig<span class="main-color">LMS</span></a>
      </div>
      <div class="collapse navbar-collapse" id="toggle-navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="" id = "logout" href="/logout" id="" role="button" aria-expanded="false">
              Logout
            </a>
    </div>
  </nav>

  <div class="p-4">
    <div class="welcome">
      <div class="content rounded-3 p-3">
        <h1 class="fs-3">Welcome to VigLMS</h1>
        <p class="mb-0">Take attendance for {{ class_name }} on {{ date_object }}</p>
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/class_roster.js') }}"></script>

  </body>

{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<br>

<br>

<form action="/view_attendance_for_today" method="GET">
        <button type="submit" class="btn btn-success">View today's attendance</button>
</form>

<br>

<div class="col-md-8">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Student First Name:</th>
                <th>Student Last Name:</th>
                <th>Date:</th>
                <th>Attendance Status:</th>
            </tr>
        </thead>
        <tbody>
            {% for row in take_attendance_query %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{ date_object }}</td>
                <td><label for=""></label>
                    <form action="/take_attendance/{{row[0]}}" method="POST">
                    <div class="form-group">
                <select name="attendance" id="attendance">
                  <option value="Present">Present</option>
                  <option value="Tardy">Tardy</option>
                  <option value="Absent">Absent</option>
                </select>  <button type="submit" class="btn btn-warning">Submit</button>
</td>
                </form>
                        </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>

<hr style="width:66%;text-align:center;margin-left:0">

<h2>Search attendance by date. Please type in the format: month-day-year, such as: 03-30-2022 (March 30, 2022).</h2>
<br />
<h3>Upon search, you can also update attendance records.</h3>

<form action="/search_attendance_by_date" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="Date" name='search_attendance_by_date' style="width: 200px;">
    </div>
        <button type="submit" class="btn btn-success">Search attendance by date.</button>
</form>

<hr style="width:66%;text-align:center;margin-left:0">

<h3>Search attendance by student. Please type student id in the box to search. Student ID is found in the left-hand column
of the table above.</h3>

<form action="/search_attendance_by_student" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="Student ID" name='search_attendance_by_student' style="width: 200px;">
    </div>
        <button type="submit" class="btn btn-success">Search attendance by student.</button>
</form>
