<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/assignment_list.css') }}">

<head>
<title>VigLMS | Class Roster For {{ class_name }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">

<link rel="manifest" href="/site.webmanifest">
</head>

<body>
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
  <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
  <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
    <img
         class="rounded-pill img-fluid"
         width="65"
         src="{{ url_for('static', filename='images/home.jpg') }}"
         alt="">
    <div class="ms-2">
      <h5 class="fs-6 mb-0">
        <a class="text-decoration-none" href="#">Teacher: {{username}}</a>
      </h5>
      <p class="mt-1 mb-0">Class roster: {{class_name}}</p>
    </div>
  </div>

  <ul class="categories list-unstyled">
    <li class="has-dropdown">
      <i class="uil-estate fa-fw"></i><a href="/alphabetically">View grades (A-Z)</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-calendar-alt"></i><a href="/grade_ASC">View grades (low-high)</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-calendar-alt"></i><a href="/grade_DESC">View grades (high-low)</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-calendar-alt"></i><a href="{{url_for('assignment')}}">Assignments - {{ class_name }}</a>
    </li>
    <li class="has-dropdown">
     <i class="uil-calendar-alt"></i><a href="{{url_for('take_attendance_page')}}">Attendance - {{ class_name }}</a>
    </li>
    <li class="">
      <i class="uil-calendar-alt"></i><a href="{{url_for('announcements_page')}}">Announcements - {{ class_name }}</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-chart-pie-alt"></i><a href="{{url_for('upload_file_page')}}">Files - {{ class_name }}</a>
    </li>
</aside>

<section id="wrapper">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid mx-2">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="uil-bars text-white"></i>
        </button>
        <a class="navbar-brand" href="/">Vig<span class="main-color">LMS</span></a>
      </div>
      <div class="collapse navbar-collapse" id="toggle-navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="" id = "logout" href="/logout" id="" role="button" aria-expanded="false">
              Logout
            </a>
    </div>
  </nav>

  <div class="p-4">
    <div class="welcome">
      <div class="content rounded-3 p-3">
        <h1 class="fs-3">Welcome to VigLMS</h1>
        <p class="mb-0">Hello {{username}}, welcome to your VigLMS dashboard for {{class_name}}!</p>
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/class_roster.js') }}"></script>

  </body>

{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<br>

    <form action="/enroll_page" method="GET">
    <button type="submit" class="btn btn-success">Enroll new student</button>
</form>

<br>

<div class="col-md-8">
    <table id="example" class="table table-striped table-bordered" style=background-color:#ffffff;">
        <thead>
            <tr>
                <th>ID <br /> (click to view more information)</th>
                <th>Subject</th>
                <th>Teacher</th>
                <th>Student First Name</th>
                <th>Student Last Name</th>
                <th>Graduation Year</th>
                <th>Grade</th>
                <th>Enrolled on</th>
                <th>Update grade</th>
                <th>Student email</th>
                <th>Send direct message</th>
                <th>View direct messages (Outbox)</th>
                <th>View direct messages (Inbox)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in records_2 %}
            <tr>
                <td><a href="/query_individual_student/{{row[0]}}">{{row[0]}}</a></td>
	</div>
</div>
             </a></td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td><a href="/edit_individual_student/{{row[0]}}">{{row[3]}}</a></td>
                <td><a href="/edit_individual_student/{{row[0]}}">{{row[4]}}</a></td>
                <td>{{row[5]}}</a></td>
                <td>{{row[6]}}</a></td>
                <td>{{row[9]}}</a></td>

                <td width="130">
       <form action="/update_grade/{{row[0]}}" method="POST">
                    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 75px"
            placeholder="" name='update grade' style="width: 200px;" maxlength="3">
                         <button type="submit" class="btn btn-warning">update</button>

</form>
                        </div>
</div>
<td><a href="/query_individual_student/{{row[0]}}">{{row[8]}}</a></td

                </td>
<td> <a href="/student_direct_message_page/{{row[0]}}" class="btn btn-info btn-delete btn-sm">Send direct message</a>
</td>
<td> <a href="/view_student_direct_message_page/{{row[0]}}" class="btn btn-dark btn-delete btn-sm">View direct messages (Outbox)</a>
</td>
<td> <a href="/view_teacher_direct_message_page/{{row[0]}}" class="btn btn-primary btn-delete btn-sm">View direct messages (Inbox)</a>
</td>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>

    <h2>Input fields below to remove student:</h2>
<div class="box">
            <form action="delete_student" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="First name" name='delete_first_name' style="width: 200px;">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="Last name" name='delete_last_name' style="width: 200px;">
            <button type="submit" class="btn btn-danger">Remove student</button>
        </form>
    </div>
</div>

<br>

<form action="/assignment" method="GET">
    <button type="submit" class="btn btn-warning">Edit assignment grades for {{ class_name }}</button>
</form>
