<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">

<head>
<title>VigLMS | Home for {{ username }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">

<link rel="manifest" href="/site.webmanifest">
</head>

<body>
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
  <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
  <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
    <img
         class="rounded-pill img-fluid"
         width="65"
         src="{{ url_for('static', filename='images/home.jpg') }}"
         alt="">
    <div class="ms-2">
      <h5 class="fs-6 mb-0">
        <a class="text-decoration-none" href="#">Teacher: {{username}}</a>
      </h5>
      <p class="mt-1 mb-0">Class roster: {{class_name}}</p>
    </div>
  </div>

  <ul class="categories list-unstyled">
    <li class="has-dropdown">
      <i class="uil-calendar-alt"></i><a href="{{url_for('grades.grade_ASC')}}">View grades (low-high)</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-calendar-alt"></i><a href="{{url_for('grades.grade_DESC')}}">View grades (high-low)</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-calendar-alt"></i><a href="{{url_for('assignments.assignment')}}">Assignments - {{ class_name }}</a>
    </li>
    <li class="has-dropdown">
     <i class="uil-calendar-alt"></i><a href="{{url_for('attendance.take_attendance_page')}}">Attendance - {{ class_name }}</a>
    </li>
    <li class="">
      <i class="uil-calendar-alt"></i><a href="{{url_for('messaging_and_announcements.announcements_page')}}">Announcements - {{ class_name }}</a>
    </li>
    <li class="has-dropdown">
      <i class="uil-chart-pie-alt"></i><a href="{{url_for('files.upload_file_page')}}">Files - {{ class_name }}</a>
    </li>
</aside>

<section id="wrapper">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid mx-2">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="uil-bars text-white"></i>
        </button>
        <a class="navbar-brand" href="/">Vig<span class="main-color">LMS</span></a>
      </div>
      <div class="collapse navbar-collapse" id="toggle-navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="" id = "logout" href="/logout" id="" role="button" aria-expanded="false">
              Logout
            </a>
    </div>
  </nav>

     <div class="p-4">
    <div class="welcome">
      <div class="content rounded-3 p-3">
        <h1 class="fs-3">Welcome to VigLMS</h1>
        <p class="mb-0">Use the navbar on the left to navigate!</p>
      </div>
    </div>


{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<br>

</div class="container">

                        <p>This app was created with Python/Flask, as well as PostgreSQL/psycopg2. It is a gradebook
                        that reinforces CRUD (Create, Read, Update, Delete). The 'create' allows students to be enrolled, 'read'
                        allows the user to see the class roster, 'update' allows the user to update a student's grade, and 'delete'
                        allows the user to remove a student from a class. Please use the navbar above to navigate through the app! Thank
                        you! - Ryan Viglione</p>

                        <div class="col align-self-center">
         <img src="static/images/postgresql.png" width="150">
    </div>

<br /><br />

<h4>My account information:</h4>

<h6>Name: {{ name }}</h6>
<h6>Username: {{ username }}</h6>
<h6>Email: {{ email }}</h6>
<h6>Class name: {{ class_name }}</h6>
<h6>Account created on: {% for date in account_creation_date %} {{date}} {% endfor %}</h6>
<h6>Number of students enrolled in {{class_name}}: {% for number in student_count %} {{number}} {% endfor %}</h6>
<h6>Number of assignments created in {{class_name}}: {% for assignment_number in assignment_count %} {{assignment_number}} {% endfor %}</h6>
<h6>Number of documents uploaded to {{class_name}}: {% for document in teacher_document_count %} {{document}} {% endfor %}</h6>
<h6>Number of logins: {% for count in login_count %} {{count}} {% endfor %}</h6>

<br /><br />

<h222>Table design credited to: <a href="https://github.com/pablorgarcia" target="_blank">Pablo García</a></h222>

<table class="container">
	<thead>
		<tr>
			<th><h111>Latest login date:</h111></th>
			<th><h111>Latest login time:</h111></th>
		</tr>
	</thead>
	<tbody>
                 {% for row in login_info %}
		<tr>
			<td>{{row[1]}}</td>
			<td>{{row[2]}}</td>
		</tr>
{% endfor %}
	</tbody>
</table>


