{% block content %}

<head>
         <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>

<title>VigLMS | Teacher Home for {{ username }}</title>

    <h1 style="text-align:center;">¡Welcome to your Vig LMS gradebook, {{ username }}!</h1>

<style>
    body{
    background-color: white;
}
</style>
<h1 class="h2">Home</h1>
<p>Welcome back, {{ username }}! Your class title is {{ class_name }}.</p>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/main_page.css">

 <div class="topnav">
   <a class="active" href="{{url_for('home')}}">Main</a>
         <a href="{{url_for('query')}}">My class roster for {{ class_name }}</a>
        <a href="{{url_for('assignment')}}">My assignments for {{ class_name }}</a>
     <a href="{{url_for('take_attendance_page')}}">Take attendance for {{ class_name }}</a>
          <a href="{{url_for('announcements_page')}}">Create announcements for {{ class_name }}</a>
     <a href="{{url_for('upload_file_page')}}">Upload files for {{ class_name }}</a>
  <a href="{{url_for('logout')}}">Logout of {{username}}</a>

</div>

{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<br /><br />

</div class="container">

                        <p>This app was created with Python/Flask, as well as PostgreSQL/psycopg2. It is a gradebook
                        that reinforces CRUD (Create, Read, Update, Delete). The 'create' allows students to be enrolled, 'read'
                        allows the user to see the class roster, 'update' allows the user to update a student's grade, and 'delete'
                        allows the user to remove a student from a class. Please use the navbar above to navigate through the app! Thank
                        you! - Ryan Viglione</p>

                        <div class="col align-self-center">
         <img src="static/images/postgresql.png" width="150">
    </div>

<br /><br />

<h4>My account information:</h4>

<h6>Name: {{ name }}</h6>
<h6>Username: {{ username }}</h6>
<h6>Email: {{ email }}</h6>
<h6>Class name: {{ class_name }}</h6>
<h6>Account created on: {% for date in account_creation_date %} {{date}} {% endfor %}</h6>
<h6>Number of students enrolled in {{class_name}}: {% for number in student_count %} {{number}} {% endfor %}</h6>
<h6>Number of assignments created in {{class_name}}: {% for assignment_number in assignment_count %} {{assignment_number}} {% endfor %}</h6>
<h6>Number of documents uploaded to {{class_name}}: {% for document in teacher_document_count %} {{document}} {% endfor %}</h6>
<h6>Number of logins: {% for count in login_count %} {{count}} {% endfor %}</h6>

<br /><br />

<h222>Table design credited to: <a href="https://github.com/pablorgarcia" target="_blank">Pablo García</a></h222>

<table class="container">
	<thead>
		<tr>
			<th><h111>Latest login date:</h111></th>
			<th><h111>Latest login time:</h111></th>
		</tr>
	</thead>
	<tbody>
                 {% for row in login_info %}
		<tr>
			<td>{{row[1]}}</td>
			<td>{{row[2]}}</td>
		</tr>
{% endfor %}
	</tbody>
</table>

{% endblock %}
