<!DOCTYPE html>
<html>
 <head>
       <title>VigLMS | Request password reset</title>
        <link rel="image_src" href="/static/images/VigLMS_thumbnail.jpg">
     </head>
  <meta charset="utf-8">
     <style>
#Title {
  text-align: center;
}
</style>
     <div id="Title">
  <h22>Please enter your email to request a password request code</h22>
         </div>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
     <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <style>
    body{
    background-color: black;
}
     </style>

      <div class="login">
  <div class="login-triangle"></div>
  <form class="login-container" action="{{ url_for('student_portal.request_password_reset') }}" method="POST">
            <p><input type="text" name="email_forgot_password" placeholder="Email" required=""></p>
    <p><input type="submit" value="Submit"></p>
  </form>
</div>

{% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div id="confirmation-box" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" onclick="document.getElementById('confirmation-box').style.display = 'none'" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


  </div>
 </div>
 </body>

          </div>

</html>
